-- CreateEnum
CREATE TYPE "StudentStatus" AS ENUM ('PENDING', 'ACTIVE', 'SUSPENDED', 'WITHDRAWN', 'GRADUATED', 'ALUMNI', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "GuardianRelationshipType" AS ENUM ('FATHER', 'MOTHER', 'GUARDIAN', 'EMERGENCY_CONTACT', 'SPONSOR');

-- DropForeignKey
ALTER TABLE "std_students" DROP CONSTRAINT "std_students_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "std_students" DROP CONSTRAINT "std_students_membershipId_fkey";

-- DropForeignKey
ALTER TABLE "std_students" DROP CONSTRAINT "std_students_currentArmId_fkey";

-- DropForeignKey
ALTER TABLE "std_guardians" DROP CONSTRAINT "std_guardians_tenantId_fkey";

-- DropForeignKey
ALTER TABLE "std_guardians" DROP CONSTRAINT "std_guardians_membershipId_fkey";

-- DropForeignKey
ALTER TABLE "std_student_guardians" DROP CONSTRAINT "std_student_guardians_studentId_fkey";

-- DropForeignKey
ALTER TABLE "std_student_guardians" DROP CONSTRAINT "std_student_guardians_guardianId_fkey";

-- DropForeignKey
ALTER TABLE "std_admissions" DROP CONSTRAINT "std_admissions_studentId_fkey";

-- DropForeignKey
ALTER TABLE "std_medical_records" DROP CONSTRAINT "std_medical_records_studentId_fkey";

-- DropForeignKey
ALTER TABLE "std_discipline_records" DROP CONSTRAINT "std_discipline_records_studentId_fkey";

-- DropForeignKey
ALTER TABLE "std_attendance" DROP CONSTRAINT "std_attendance_studentId_fkey";

-- DropForeignKey
ALTER TABLE "fin_invoices" DROP CONSTRAINT "fin_invoices_studentId_fkey";

-- DropForeignKey
ALTER TABLE "fin_scholarships" DROP CONSTRAINT "fin_scholarships_studentId_fkey";

-- DropForeignKey
ALTER TABLE "lrn_results" DROP CONSTRAINT "lrn_results_studentId_fkey";

-- DropForeignKey
ALTER TABLE "ent_bed_allocations" DROP CONSTRAINT "ent_bed_allocations_studentId_fkey";

-- DropForeignKey
ALTER TABLE "ent_book_borrowings" DROP CONSTRAINT "ent_book_borrowings_studentId_fkey";

-- AlterTable
ALTER TABLE "idm_tenant_memberships" ADD COLUMN     "guardianId" TEXT;

-- DropTable
DROP TABLE "std_students";

-- DropTable
DROP TABLE "std_guardians";

-- DropTable
DROP TABLE "std_student_guardians";

-- DropEnum
DROP TYPE "GuardianRelationship";

-- CreateTable
CREATE TABLE "stu_students" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "studentNumber" TEXT NOT NULL,
    "status" "StudentStatus" NOT NULL DEFAULT 'PENDING',
    "membershipId" TEXT,
    "admissionNumber" TEXT,
    "enrollmentDate" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "currentArmId" TEXT,
    "version" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),
    "deletedBy" TEXT,

    CONSTRAINT "stu_students_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stu_profiles" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "dateOfBirth" TIMESTAMP(3) NOT NULL,
    "nationality" TEXT,
    "religion" TEXT,
    "bloodGroup" TEXT,
    "allergies" TEXT,
    "photoKey" TEXT,
    "version" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "stu_profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stu_guardians" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "email" TEXT,
    "phone" TEXT NOT NULL,
    "version" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),
    "deletedBy" TEXT,

    CONSTRAINT "stu_guardians_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stu_student_guardians" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "guardianId" TEXT NOT NULL,
    "relationshipType" "GuardianRelationshipType" NOT NULL,
    "isPrimary" BOOLEAN NOT NULL DEFAULT false,
    "version" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "stu_student_guardians_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stu_status_logs" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "previousStatus" "StudentStatus",
    "newStatus" "StudentStatus" NOT NULL,
    "reason" TEXT,
    "actorId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "stu_status_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "stu_number_strategies" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "prefix" TEXT NOT NULL,
    "sequence" INTEGER NOT NULL DEFAULT 0,
    "year" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "stu_number_strategies_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "stu_students_membershipId_key" ON "stu_students"("membershipId");

-- CreateIndex
CREATE INDEX "stu_students_tenantId_status_idx" ON "stu_students"("tenantId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "stu_students_tenantId_studentNumber_key" ON "stu_students"("tenantId", "studentNumber");

-- CreateIndex
CREATE UNIQUE INDEX "stu_profiles_studentId_key" ON "stu_profiles"("studentId");

-- CreateIndex
CREATE INDEX "stu_guardians_tenantId_idx" ON "stu_guardians"("tenantId");

-- CreateIndex
CREATE INDEX "stu_student_guardians_studentId_idx" ON "stu_student_guardians"("studentId");

-- CreateIndex
CREATE INDEX "stu_student_guardians_guardianId_idx" ON "stu_student_guardians"("guardianId");

-- CreateIndex
CREATE UNIQUE INDEX "stu_student_guardians_studentId_guardianId_relationshipType_key" ON "stu_student_guardians"("studentId", "guardianId", "relationshipType");

-- CreateIndex
CREATE INDEX "stu_status_logs_studentId_idx" ON "stu_status_logs"("studentId");

-- CreateIndex
CREATE UNIQUE INDEX "stu_number_strategies_tenantId_key" ON "stu_number_strategies"("tenantId");

-- AddForeignKey
ALTER TABLE "idm_tenant_memberships" ADD CONSTRAINT "idm_tenant_memberships_guardianId_fkey" FOREIGN KEY ("guardianId") REFERENCES "stu_guardians"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stu_students" ADD CONSTRAINT "stu_students_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "plt_tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stu_students" ADD CONSTRAINT "stu_students_membershipId_fkey" FOREIGN KEY ("membershipId") REFERENCES "idm_tenant_memberships"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stu_students" ADD CONSTRAINT "stu_students_currentArmId_fkey" FOREIGN KEY ("currentArmId") REFERENCES "acd_arms"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stu_profiles" ADD CONSTRAINT "stu_profiles_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "stu_students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stu_guardians" ADD CONSTRAINT "stu_guardians_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "plt_tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stu_student_guardians" ADD CONSTRAINT "stu_student_guardians_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "stu_students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stu_student_guardians" ADD CONSTRAINT "stu_student_guardians_guardianId_fkey" FOREIGN KEY ("guardianId") REFERENCES "stu_guardians"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stu_status_logs" ADD CONSTRAINT "stu_status_logs_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "stu_students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "std_admissions" ADD CONSTRAINT "std_admissions_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "stu_students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "std_medical_records" ADD CONSTRAINT "std_medical_records_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "stu_students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "std_discipline_records" ADD CONSTRAINT "std_discipline_records_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "stu_students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "std_attendance" ADD CONSTRAINT "std_attendance_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "stu_students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fin_invoices" ADD CONSTRAINT "fin_invoices_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "stu_students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fin_scholarships" ADD CONSTRAINT "fin_scholarships_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "stu_students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lrn_results" ADD CONSTRAINT "lrn_results_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "stu_students"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ent_bed_allocations" ADD CONSTRAINT "ent_bed_allocations_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "stu_students"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ent_book_borrowings" ADD CONSTRAINT "ent_book_borrowings_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "stu_students"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

